/* body {max-width: 800px !important; margin: auto !important; padding: 20px; } */
/* .container { min-height: 200px; margin: 20 0 40 0 } */
/* .pages { margin: 20 0 0 0 } */
/* .pages a{ border: 1px solid black; padding: 4px; text-decoration: none } */
/* .pages a:hover{ border: 1px solid red; } */
/* .menu { border-top: 1px solid black; border-bottom: 1px solid black; padding: 5px; margin:10 0 10 0  } */
.bg-c-nav{ background-color: #5e666b !important;}